<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Music Mastery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="components/modal.css">    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
</head>
<body>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div class="my-modal-mask">
            <div class="my-modal-wrapper">
              <div class="my-modal-container">
                <div class="my-modal-header">
                  <slot name="header">
                    default header
                  </slot>
                </div>
                <div class="my-modal-body">
                  <slot name="body">
                    default body
                  </slot>
                </div>
                <div class="my-modal-footer">
                    <button class="my-modal-default-button btn btn-success" @click="$emit('close')">
                      OK
                    </button>
                    <br />
                </div>
              </div>
            </div>
          </div>
        </transition>
      </script>
    <div class="container" id="strategy-app">
        <modal v-if="showModal" @close="closeModal">

            <!--
                you can use custom content here to overwrite
                default content
            -->
            <h3 slot="header">{{customStrategy.title}}</h3>
            <textarea slot="body" placeholder="add description" class="form-control" v-model="customStrategy.description"></textarea>

        </modal>
        <br />
        <h1 class="white">My Music Mastery</h1>
        <h5 class="black">version 0.6.6</h5>

        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-6 offset-sm-3 form-box">
                <transition name="fade">
                    <fieldset v-if="step1">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>Select Piece(s):</p>
                            </div>
                            <div class="form-top-right">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <v-select class="pieces-select" multiple taggable push-tags v-model="selectedPieces" :options="pieces.rows" @input="checkInput" >
                                <template slot="option" slot-scope="option">
                                    {{ option.name || handleNewEntry(option)}} <span class="text-muted small"> - {{ option.source || 'User Entry' }}</span>
                                </template>
                            </v-select>
                            <br />
                            <p v-if="selectedPieces.length">Selected Pieces</p>
                            <ol>
                                <li v-for="piece in selectedPieces">
                                    {{ piece.name }} <span class="text-muted small"> - {{ piece.source }}</span>
                                </li>
                            </ol>
                            <br />
                            <br />
                            <br />
                            <button type="button" v-bind:class="{disabled:!selectedPieces.length}" :disabled="!selectedPieces.length" class="go btn btn-next" v-on:click="go('1_b')">Next</button>
                        </div>
                    </fieldset>
                </transition>
                <transition name="fade">
                    <fieldset v-if="step1_b">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>Set Tempo(s):</p>
                            </div>
                            <div class="form-top-right">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div v-for="piece in selectedPieces" class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            {{ piece.name+' ' }} <span class="text-muted small"> - {{ piece.source }}</span>
                                        </span>
                                    </div>
                                    <input type="text" v-model="piece.tempo" class="form-control" placeholder="Enter Tempo">
                                </div>
                                <span>{{piece.temp}}</span>
                            </div>
                            <br />
                            <br />
                            <button type="button" class="btn go btn-previous" v-on:click="go(1)">Previous</button>
                            <button type="button" class="btn go btn-next" v-on:click="go(2)">Next</button>
                        </div>
                    </fieldset>
                </transition>
                <transition name="fade">
                    <fieldset  v-if="step2">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>Assign Measures:</p>
                            </div>
                            <div class="form-top-right">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div v-for="piece in selectedPieces" class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        {{ piece.name + ' - ' + piece.source }}
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Enter Measure">
                                            <input type="text" class="form-control" placeholder="Enter Tempo">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" v-on:click="addMeasure(piece.measures,$event)">Add Measure</button>
                                            </div>
                                        </div>
                                        <h5 class="card-title">Measures</h5>
                                        <p v-if="!piece.measures.length">No measures added</p>
                                        <p v-for="measure in piece.measures" class="card-text">{{measure.measure}} - Tempo {{measure.tempo}}</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn go btn-previous" v-on:click="go('1_b')">Previous</button>
                            <button type="button" class="btn go btn-next" v-on:click="go(3)">Next</button>
                        </div>
                    </fieldset>
                </transition>
                <transition name="fade">
                    <fieldset  v-if="step3">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>Assign Practice Strategies:</p>
                            </div>
                            <div class="form-top-right">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div v-for="piece in selectedPieces" class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        {{ piece.name + ' - ' + piece.source }}
                                    </div>
                                    <div class="card-body">
                                        <div v-if="!piece.measures.length">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <v-select taggable push-tags class="strategy-select" v-model="selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id]" :options="strategies" >
                                                            <template slot="option" slot-scope="option">
                                                                {{ option.label || handleNewEntry(option)}} <span v-if="!option.label" class="text-muted small"> - User Entry</span>
                                                            </template>
                                                        </v-select>
                                                        <div class="input-group-append">
                                                            <button v-bind:class="{ 'btn-outline-success': selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id] }" class="btn btn-outline-secondary" type="button" v-on:click="addStrategy(piece.strategies,(piece.source === 'User Entry' ? 'U':'') + piece.id)">Add Strategy</button>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <p v-if="selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id]">{{selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id].description}}</p>    
                                                    <br />
                                                    <p v-if="!piece.strategies.length">No strategies added</p>
                                                    <p v-if="piece.strategies.length">Selected Strategies</p>
                                                    <ol>
                                                        <li v-for="strategy in piece.strategies">
                                                            {{ strategy.label }}
                                                        </li>
                                                    </ol>                                             
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title">Measures</h5>
                                        <p v-if="!piece.measures.length">No measures added</p>
                                        <div v-for="measure in piece.measures">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="card-text">{{measure.measure}} - Tempo {{measure.tempo}}</p>
                                                    <div class="input-group">
                                                        <v-select taggable push-tags class="strategy-select" v-model="selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id+''+measure.id]" :options="strategies" >
                                                            <template slot="option" slot-scope="option">
                                                                {{ option.label || handleNewEntry(option)}} <span v-if="!option.label" class="text-muted small"> - User Entry</span>
                                                            </template>
                                                        </v-select>
                                                        <div class="input-group-append">
                                                            <button v-bind:class="{ 'btn-outline-success': selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id+''+measure.id] }" class="btn btn-outline-secondary" type="button" v-on:click="addStrategy(measure.strategies,(piece.source === 'User Entry' ? 'U':'')+piece.id+''+measure.id)">Add Strategy</button>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <p v-if="selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id+''+measure.id]">{{selectedStrategy[(piece.source === 'User Entry' ? 'U':'')+piece.id+''+measure.id].description}}</p>    
                                                    <br />
                                                    <p v-if="!measure.strategies.length">No strategies added for measure</p>
                                                    <p v-if="measure.strategies.length">Selected Strategies</p>
                                                    <ol>
                                                        <li v-for="strategy in measure.strategies">
                                                            {{ strategy.label }}
                                                        </li>
                                                    </ol>  
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn go btn-previous" v-on:click="go(2)">Previous</button>
                            <button type="button" class="btn go btn-next" v-on:click="go(4)">Next</button>
                        </div>
                    </fieldset>
                </transition>
                <transition name="fade">
                    <fieldset v-if="step4">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>Add Notes:</p>
                            </div>
                            <div class="form-top-right">
                            </div>
                        </div>
                        <div class="form-bottom">  
                            <div v-for="piece in selectedPieces" class="form-group">
                                <h5>{{ piece.name }} <span class="text-muted small"> - {{ piece.source }}</span></h5>
                                <textarea class="form-control" v-model="piece.notes" placeholder="Notes">
                                </textarea>
                                <br />
                                <input type="text" class="form-control" v-model="piece.link" placeholder="Video Link" /> 
                                <br />
                            </div>
                            <button type="button" class="btn go btn-previous" v-on:click="go(3)">Previous</button>
                            <button type="button" class="btn go btn-previous" v-on:click="pdf()">Generate CheckList</button>
                        </div>  
                </transition>
            </div>
        </div> 
        <br />
        <br />
    </div>
      <script src="js/scripts.js"></script> 
</body>
</html>