<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form-elements.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
</head>
<body>
    <div class="container" id="strategy-app">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-6 offset-sm-3 form-box">
                <transition name="fade">
                    <fieldset v-if="step1">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 1 / 3</h3>
                                <p>Select Piece(s):</p>
                            </div>
                            <div class="form-top-right">
                                #1
                            </div>
                        </div>
                        <div class="form-bottom">
                            <v-select multiple v-model="selectedPieces" :options="pieces.rows">
                                <template slot="option" slot-scope="option">
                                    {{ option.name }} <span class="text-muted small"> - {{ option.source }}</span>
                                </template>
                            </v-select>
                            <br />
                            <p v-if="selectedPieces.length">Selected Pieces</p>
                            <ol>
                                <li v-for="piece in selectedPieces">
                                    {{ piece.name }} <span class="text-muted small"> - {{ piece.source }}</span>
                                </li>
                            </ol>

<!--                             <div class="form-group">
                                <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                            </div>
                            <div class="form-group">
                                <textarea name="form-about-yourself" placeholder="About yourself..." 
                                            class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                            </div> -->
                            <br />
                            <br />
                            <br />
                            <button type="button" class="btn btn-next" v-on:click="go(2)">Next</button>
                        </div>
                    </fieldset>
                </transition>
                <transition name="fade">
                    <fieldset  v-if="step2">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 2 / 3</h3>
                                <p>Assign Measures:</p>
                            </div>
                            <div class="form-top-right">
                                #2
                            </div>
                        </div>
                        <div class="form-bottom">
                            <p>Placeholder</p>
<!--                             <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-repeat-password">Repeat password</label>
                                <input type="password" name="form-repeat-password" placeholder="Repeat password..." 
                                            class="form-repeat-password form-control" id="form-repeat-password">
                            </div> -->
                            <button type="button" class="btn btn-previous" v-on:click="go(1)">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                </transition>
            </div>
        </div> 
    </div>
      <script src="js/scripts.js"></script> 
</body>
</html>